$font-family: "IBM Plex Mono";
$yellow: #ede549;

.search-button {
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.search-button-color {
  background-color: $yellow;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.2);
    background-color: #1bdf94;
  }

  &:active {
    transform: scale(0.98);
  }
}

.search-button-text {
  font-size: 1.1em;
  font-family: $font-family;
}
