$colors: (
  normal: #a8a878,
  fire: #f08030,
  water: #6890f0,
  grass: #78c850,
  electric: #f8d030,
  ice: #98d8d8,
  fighting: #bf2f27,
  poison: #a040a0,
  ground: #e0c068,
  flying: #a890f0,
  psychic: #f85888,
  bug: #a8b820,
  rock: #b8a038,
  ghost: #705898,
  dark: #705848,
  dragon: #7038f8,
  steel: #b8b8d0,
  fairy: #f0b5bb
);

@each $color, $value in $colors {
  [class*="#{$color}"] {
    background-color: $value;
  }
}

.pokemon-card {
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card-size {
  width: 60%;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
  @media screen and (min-width: 1025px) {
    width: 20%;
  }
}

.pokemon-tag {
  margin: 2px;
  border-radius: 5px;
  padding: 2px;
}

.pokemon-capture-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
