$bg: #ffffff;
$red: #f15324;
$white: white;
$black: #333;

button {
  .pokeball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid $black;
    transform-origin: center bottom;

    .base {
      background: $black;
      height: 80%;
      width: 80%;
      padding: 10%;
    }

    .upper-half {
      position: absolute;
      background: $red;
      height: 42%;
      width: 100%;
    }

    .lower-half {
      bottom: 0;
      position: absolute;
      background: $white;
      height: 42%;
      width: 100%;
    }

    .inner-circle {
      border-radius: 50%;
      height: 20%;
      width: 20%;
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid $black;
      transform: translate(-50%, -50%);
    }
  }

  .indicator-inner {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
  }

  .indicator {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f64c4c;
    background: -webkit-radial-gradient(center, #f64c4c, #ff514f00);
    background: -moz-radial-gradient(center, #f64c4c, #ff514f00);
    background: radial-gradient(ellipse at center, #f64c4c, #ff514f00);

    opacity: 0;
  }

}
